html, body {
	height: 100%;
	width: 100%;

}

#page-wrapper {
	height: 100%;
	width: 100%;
	background-color: gray;
}

	#weather-app>*>*>*{
		/*border: 2px dashed white;*/
	}


		#app-title {
			color:white;
		}

		#weather-icon {
			text-align: right;
			font-size: 4rem;
		}
		
		#location-info * {
			text-align: left;
		}